<!DOCTYPE html>
<html>
	<head>

		<script src="../lib/jquery.js"></script>
		<link rel="stylesheet" href="../lib/Bootstrap/css/bootstrap.css">
		<title>Animal Saviors</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="container-fluid tabla">	
			<div class="row">	
				<div class="col-md-4">	

				</div>

			</div>	
		</div>
		<div class="container-fluid intro ">
			<div class="row">
				<div class="col">
					<h1 class="bos">INTRODUCCION</h1>
					<p class="text-center vs">Somos una organización que proporciona ayuda a los animales que sufren del maltrato de las personas que no les importa lo que los animales indefensos sientan. <br/> Nosotros queremos que los animales puedan tener un hogar donde vivir, por eso hemos decidido realizar esta pagina para todas aquellas personas que sientan lastima y que no les gusta ver que los animales sufran, puedan adoptar un animal para que les den un hogar y alimentación. </p>
				</div>
			</div>
		</div>
		<br/>
		<div class = "container-fluid letra">
			<div class="row">
				<div class="col-md-12 p-0">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
 						<div class="carousel-inner">
    						<div class="carousel-item active CS">
      							<img src="https://www.ecestaticos.com/imagestatic/clipping/797/767/79776773aab795837282c7d4947abaf7/por-que-nos-parece-que-los-perros-sonrien-una-historia-de-30-000-anos.jpg?mtime=1558346791" class="d-block w-100" alt="perro">
    						</div>
    						<div class="carousel-item CS">
      							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjoRwNWT9rOSwvOhtxFH0EwHsgW5scozipVOmT8-J15tFvD-0iZQ&s" class="d-block w-100" alt="gato">
    						</div>
    						<div class="carousel-item CS">
      							<img src="https://www.diariodeibiza.es/elementosWeb/gestionCajas/MMP/Image/2017//convivir-perros-gatos.jpg" class="d-block w-100" alt="perro y gato">
    						</div>
  						</div>
  						<a class="carousel-control-prev CS" href="#carouselExampleControls" role="button" data-slide="prev">
    						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    						<span class="sr-only">Previous</span>
  						</a>
  						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    						<span class="carousel-control-next-icon" aria-hidden="true"></span>
    						<span class="sr-only">Next</span>
  						</a>
					</div>
				</div>	
			</div>
		</div>
		<br/><br/>








		<script src="../lib/angularjs.js"></script>
		
		<script src="../lib/Bootstrap/js/bootstrap.js"></script>
		<script src="../lib/sweetalert.js"></script>
	</body>
</html>