<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="lib/jquery.js"></script>
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../lib/Bootstrap/css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap" rel="stylesheet">
		<title>Registrarse</title>
	</head>
	<body>

		<div class="container-fluid Fondo">
			<div class="row">
				<div class="col-12">
					<br>
					<br>
					<br>
					<br>
					<h1 class="down2 text-center White Letra">Registrarse</h1></font>
					<br>
					<font face="Roboto">
					<input type="text" class="Space Borde Color" placeholder="Ingrese su Usuario">
					<br>
					<br>
					<br>
					<input type="text" class="Space Color Borde" placeholder="Ingrese su Correo">
					<br>
					<br>
					<br>
					<input type="text" class="Space Color Borde" placeholder="Ingrese una Clave">
					<br>
					<br>
					<br>
					<input type="text" class="Space Color Borde Color" placeholder="Repita su Clave">
					<br>
					<br>
					<br>
					<a href="sucessful.html"><button class="Boton Color Cursor">Registrarse</button></a>
					<br>
					<br>
					<p class="White text-center">Página creada por Skymods.yo.gt</p>
				</div>
			</div>
		</div>

		<script src="../lib/angularjs.js"></script>
		
		<script src="../lib/Bootstrap/js/bootstrap.js"></script>
		<script src="../lib/sweetalert.js"></script>
	</body>
</html>