<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script src="lib/jquery.js"></script>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="lib/Bootstrap/css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap" rel="stylesheet">
		<title>Animal Saviors</title>
	</head>
	<body>

		<div class="container-fluid Fondo">
			<div class="row">
				<div class="col-md-12">
					<div align="center"><font color="#FFFFFF" size="+5"><marquee bgcolor="#000000" direction="right" loop="20">Escribe tu texto aqui</marquee></font></div>
				</div>
			</div>
		</div>

		<script src="lib/angularjs.js"></script>
		
		<script src="lib/Bootstrap/js/bootstrap.js"></script>
		<script src="lib/sweetalert.js"></script>
	</body>
</html>